.navbar {
    min-height: 100%;
    @apply border-r border-gray-300 ;

    .user {
        @apply flex justify-center items-center flex-col p-16 bg-red-300;
  
        p {
            @apply text-white mt-3 text-base;
        }
    }
    nav {
        max-width:600px;
    }
    nav ul {
        li {
            @apply border-b border-slate-300 p-4 relative;

            a {
                @apply block w-full;
            }
        }
        li:hover {
            @apply bg-slate-200;
        }
    }
  }
  
  .active {
    @apply cursor-pointer
  }
  
  .active::before {
    content: "";
    @apply absolute right-0 top-0 w-1 h-full bg-red-500;
  }