header{
    @apply relative
}

.header {
    height: 50px;
    @apply flex items-center justify-between bg-base-100 pl-2 lg:pl-8 fixed mx-auto w-screen z-10 absolute top-6 left-1/2 transform -translate-x-1/2 -translate-y-1/2 bg-transparent;

    .logo {
        @apply flex items-center cursor-pointer;

        span {
            @apply text-red-500 sm:text-2xl md:text-lg lg:text-2xl;
        }
    }

    nav {
        @apply hidden md:flex lg:flex 
        w-96 justify-between 
        ;

        ul {
            @apply flex justify-between w-full;

            li {
                @apply cursor-pointer px-3 py-1 text-red-500 font-normal;
            }

            li:hover {
                @apply bg-red-400 rounded-full text-slate-100 ;
            }
            li.active {
                color: green;
            }            
        }
    }

    .btn-sign-up {
        @apply hidden md:block btn btn-error rounded-none bg-red-600 text-base-100 h-14 my-10;
    }

    .menu-icon{
        @apply cursor-pointer
        sm:flex md:hidden;
    }

    .dialog {
        // @apply w-96 h-96
    }
}




