@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: "Poppins", sans-serif;
  }
  
  html {
    font-size: 16px;
  }
  
  body {
    font-family: "Poppins", sans-serif;
  }
  header, footer, section {
    justify-content: center;
    width: 100%;
    background-color: #eee;
  }
  .container {
    max-width: 1200px;
    margin: auto;
  }